{% extends "base.html" %}

{% block title %}Room{% endblock %}

{% block content %}
<div class="game_room">
    <div class="players">
        <h3>Hello, There!</h3>
        <ol>
            <li>Użytkownik1</li>
            <li>Użytkownik2</li>
            <li>Użytkownik3</li>
            <li>Użytkownik4</li>
            <li>[. . .]</li>
        </ol>
    </div>

    <div class="game_board">
        <h1>Room: {{ room_name }}</h1>
    </div>

    <div class="chat">
        <div id="messages_area">
<p>Messages</p>
        </div>
        <input type="text" name="user_message" id="user_message">
        <button type="button" id="send_message">Send</button>
    </div>
</div>

<textarea id="inviteLink" style="display: none;">{{ invite_link }}</textarea>
<input type="button" id="copyToClipboard" value="Copy invite link to clipboard">

<!-- socketIO JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='socketio.js') }}"></script>
{% endblock %}