{% from "form_helper.html" import displayField %}

{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <!-- <h2>Login now!</h2> -->
    <p>Enter your username to begin</p>

    <form method="POST">

        {{ displayField(creating_game.username, 'Username', autocomplete="off", autofocus=true) }}

        <div>
            {{ creating_game.submit_button }}
        </div>

        {{ creating_game.csrf_token }}

    </form>
    <hr>
    <form method="POST">

        {{ displayField(joining_game.username, 'Username', autocomplete="off", autofocus=true) }}
        {{ displayField(joining_game.link, 'link') }}

        <div>
            {{ joining_game.submit_button }}
        </div>

        {{ joining_game.csrf_token }}

    </form>

{% endblock %}