body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #110B11;
    color: #F2F4CB;
    font-size: 1.5rem;
}

input {
    background-color: #332D33;
    color: #F2F4CB;
    border-radius: 5px;
    border-width: 1px;
    border-color: #B7990D;
    border-image: none;
    border-style: outset;
}

input[type="text"] {
    font-size: 1.5rem;
    margin: 1rem;
}

input[type="submit"] {
    font-size: 1.2rem;
}

input[type="submit"]:hover {
    cursor: pointer;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

hr {
    width: 25%;
    border-width: 1px;
}

.game_room {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-width: 1px;
    width: 80vw;
    margin-top: 20px;
}

.game_room .chat {
    width: 25vw;
    padding: 10px;
    /* height: 150px; */
    background-color: grey;
} 

input[type="button"] {
    width: 300px;
    height: 100px;
    font-size: large;
    transition: .2s;
}

input[type="button"]:hover {
    cursor: pointer;
    width: 300px;
    height: 100px;
    background-color: #443E44;
    transform:scale(1.1) ;
    transition: .2s;
}

input[type="button"]:active {
    background-color: #242E34;
}
