body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #d4d6a7;
    color: #110B11;
    font-size: 1.5rem;
    height: 100vh;
    font-family: Arial, sans-serif;
}

input {
    background-color: #F2F4CB;
    color: #110B11;
    border-radius: 5px;
    border-width: 1px;
    border-color: #B7990D;
    border-image: none;
    border-style: outset;
    padding: 10px;
    margin: 5px 0;
}

input[type="text"] {
    font-size: 1.5rem;
    margin: 1rem;
}

input[type="submit"] {
    font-size: 1.2rem;
}

input[type="submit"]:hover {
    cursor: pointer;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

form {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

hr {
    width: 25%;
    border-width: 1px;
}

.game_room {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-width: 1px;
    width: 80vw;
    margin-top: 20px;
}

.game_room .chat {
    width: 30vw;
    padding: 15px;
    background-color: #F2F4CB;
}

#messages_area {
    height: 300px;
    overflow-y: scroll;
}

input[type="button"] {
    width: 300px;
    height: 50px;
    font-size: large;
    transition: .2s;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

input[type="button"]:hover{
    cursor: pointer;
    background-color: #3B9E39;
    transform:scale(.95) ;
    transition: .2s;
}

input[type="button"]:active {
    background-color: #2B8E29;
}

img {
    max-width: 100%;
    max-height: calc(2 * (10px + 20px));
    height: auto;
    margin: 10px 0;
}

h3 {
    margin: 5px 0;
}